/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-nov-2019, 12:13:40
    Author     : clope
*/
* {
    
    font-family: 'Gill Sans', serif;
    
}

img#logo {
    width: 80px;
    
}

.navbar{
    background-color: #40d9da;
    padding: 0px;
}
a.nav-link {
    color: black;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Gill Sans', serif;
}

nav h4 {
    font-family: 'Brush Script MT';
    font-size: 29pt;
}
input.btn-primary {
    background-color:transparent;
    border: none;
    color: black;
    color: rgba(0,0,0,0.5);
    font-size: 12pt;
}
input.btn-primary:hover {
    background-color: #2B9191;
}
body {
    background: url('../imagenes/fondopaginaweb.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
img.w-80 {
    width: 780px;
    height: auto;
    margin-left: 100px;
}
img#icono {
    width: 20px;
}
p#descripcionweb {
    margin-top: 20px;
    margin-bottom: 40px;
    background: rgba(203,167,241,1);
    background: -moz-linear-gradient(top, rgba(203,167,241,1) 0%, rgba(203,167,241,0.9) 39%, rgba(121,236,234,0.84) 66%, rgba(121,236,234,0.75) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,167,241,1)), color-stop(39%, rgba(203,167,241,0.9)), color-stop(66%, rgba(121,236,234,0.84)), color-stop(100%, rgba(121,236,234,0.75)));
    background: -webkit-linear-gradient(top, rgba(203,167,241,1) 0%, rgba(203,167,241,0.9) 39%, rgba(121,236,234,0.84) 66%, rgba(121,236,234,0.75) 100%);
    background: -o-linear-gradient(top, rgba(203,167,241,1) 0%, rgba(203,167,241,0.9) 39%, rgba(121,236,234,0.84) 66%, rgba(121,236,234,0.75) 100%);
    background: -ms-linear-gradient(top, rgba(203,167,241,1) 0%, rgba(203,167,241,0.9) 39%, rgba(121,236,234,0.84) 66%, rgba(121,236,234,0.75) 100%);
    background: linear-gradient(to bottom, rgba(203,167,241,1) 0%, rgba(203,167,241,0.9) 39%, rgba(121,236,234,0.84) 66%, rgba(121,236,234,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cba7f1', endColorstr='#79ecea', GradientType=0 );

}
footer {
    border-top: 3px solid black;
}
.bg-primary {
    background-color:  #40d9da !important;
    color: black !important;
}

label.btn-warning {
    background-color: #b177ee;
    font-family: 'Gill Sans', serif;
    color: black;
    border: none;
}
label.btn-warning:hoover {
    background-color: #8b5dbb;
}
label.btn-warning.active {
    background-color: #8b5dbb;
    
}
.alert-warning {
    background-color: #b177ee;
    color: black;
    border: none;
}
nav .disabled {
    visibility: hidden;
}
img#logoformulario {
    width: 80px;
    margin-left: 400px;
}

nav h4#cabeceraformu {
    margin-top: 20px;
}
nav.formu {
    height: 70px;
}
.formu ul li {
    margin-top: 20px;
}
.recuperarpasswd {
    height: 200px;
    margin-left: 300px;
}
img#noticiaimg {
    width: 500px;
}
section.mt-5 {
    background: transparent;
}
main#noticias {
    margin-top: 20px;
    margin-bottom: 40px;
    background: rgba(203,167,241,1);
    background: -moz-linear-gradient(top, rgba(203,167,241,1) 0%, rgba(203,167,241,0.9) 39%, rgba(121,236,234,0.84) 66%, rgba(121,236,234,0.75) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,167,241,1)), color-stop(39%, rgba(203,167,241,0.9)), color-stop(66%, rgba(121,236,234,0.84)), color-stop(100%, rgba(121,236,234,0.75)));
    background: -webkit-linear-gradient(top, rgba(203,167,241,1) 0%, rgba(203,167,241,0.9) 39%, rgba(121,236,234,0.84) 66%, rgba(121,236,234,0.75) 100%);
    background: -o-linear-gradient(top, rgba(203,167,241,1) 0%, rgba(203,167,241,0.9) 39%, rgba(121,236,234,0.84) 66%, rgba(121,236,234,0.75) 100%);
    background: -ms-linear-gradient(top, rgba(203,167,241,1) 0%, rgba(203,167,241,0.9) 39%, rgba(121,236,234,0.84) 66%, rgba(121,236,234,0.75) 100%);
    background: linear-gradient(to bottom, rgba(203,167,241,1) 0%, rgba(203,167,241,0.9) 39%, rgba(121,236,234,0.84) 66%, rgba(121,236,234,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cba7f1', endColorstr='#79ecea', GradientType=0 );
}
